@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

@font-face {
  font-family: "NewtonSans";
  src: url("./font/NewtonSans-2015-11-04.woff2") format("woff2");
  unicode-range: U+E000-EFFF, U+2600-26FF, U+1F700-1F77F;
}

.alchemy {
  font-family: "NewtonSans", sans-serif;
}
